{:paths ["src"]
 :deps {
        io.github.kotoba-lang/coll-rename-keys
        {:git/url "https://github.com/kotoba-lang/coll-rename-keys.git"
         :git/sha "00b5fcc2d80fbb28887daedc8329a0aebcad06b9"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
